### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
staticfiles
.env
db.sqlite3
.idea
# Translations
*.mo
*.pot

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
