{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block body_attrs %}class="hold-transition login-page"{% endblock body_attrs %}
{% block body %}
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center h1">
                <b>MinaSegura</b>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Inicie sesión</p>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible fade show"
                             role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Nombre de usuario"
                               required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-6">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
{% endblock body %}