{% load mine_tags %}
<style>
    .nav-treeview {
        margin-left: 20px;
    }
</style>
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">{{ alerts|length }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                <span class="dropdown-item dropdown-header">{{ alerts|length }} Alertas</span>
                <div class="dropdown-divider"></div>
                {% for alert in alerts %}
                    <a class="dropdown-item">
                        {% if alert.measurementType == "METHANE" %}
                            <i class="fas fa-fire mr-2"></i>
                            Gas Metano
                        {% elif alert.measurementType == "COAL_DUST" %}
                            <i class="fas fa-industry mr-2"></i>
                            Polvo de Carbón
                        {% else %}
                            {{ alert.measurementType }}
                        {% endif %}
                        <span class="float-right text-muted text-sm">{{ alert.alertTimestamp|timestamp_to_time|timesince }}</span>
                    </a>
                    <div class="dropdown-divider"></div>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}" role="button">
                <i class="fas fa-sign-out-alt"></i>
                Cerrar sesión
            </a>
        </li>
    </ul>
</nav>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        {#        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"#}
        {#             style="opacity: .8">#}
        <span class="brand-text font-weight-light">MinaSegura</span>
    </a>

    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host observed">
            <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
        </div>
        <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer"></div>
        </div>
        <div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 396px;"></div>
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        {#                        <div class="image">#}
                        {#                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">#}
                        {#                        </div>#}
                        <div class="info">
                            <a href="/" class="d-block">{{ request.user.username }}</a>
                        </div>
                    </div>

                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <li class="nav-item">
                                <a href="{% url 'users:dashboard' user_mine.id %}" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'users:dashboard' user_mine.id %}" class="nav-link">
                                    <i class="nav-icon fas fa-fire"></i>
                                    <p>
                                        Gas Metano
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview" style="display: none;">
                                    <li class="nav-item">
                                        <a href="{% url 'mine:measurement' user_mine.id 'gas' %}" class="nav-link">
                                            <i class="fas fa-ruler-horizontal nav-icon"></i>
                                            <p>Medición</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'mine:settings' user_mine.id 'gas' %}" class="nav-link">
                                            <i class="fas fa-cog nav-icon"></i>
                                            <p>Configuración</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'users:dashboard' user_mine.id %}" class="nav-link">
                                    <i class="nav-icon fas fa-industry"></i>
                                    <p>
                                        Polvo de carbón
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview" style="display: none;">
                                    <li class="nav-item">
                                        <a href="{% url 'mine:measurement' user_mine.id 'coal' %}" class="nav-link">
                                            <i class="fas fa-ruler-horizontal nav-icon"></i>
                                            <p>Medición</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'mine:settings' user_mine.id 'coal' %}" class="nav-link">
                                            <i class="fas fa-cog nav-icon"></i>
                                            <p>Configuración</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'users:dashboard' user_mine.id %}" class="nav-link">
                                    <i class="nav-icon fas fa-warehouse"></i>
                                    <p>
                                        Inventario
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview" style="display: none;">
                                    <li class="nav-item">
                                        <a href="{% url 'inventory:maintenance_list' user_mine.id %}" class="nav-link">
                                            <i class="fas fa-toolbox nav-icon"></i>
                                            <p>Mantenimientos</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="height: 24.828%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar-corner"></div>
    </div>
</aside>